In [1]:
import pandas as pd
import numpy as np

In [2]:
import base64

def image_to_base64(image_path):
    with open(image_path, 'rb') as image_file:
        # Read the image file as binary data
        image_data = image_file.read()
        # Convert the binary data to base64 string
        base64_string = base64.b64encode(image_data).decode('utf-8')
    return base64_string

In [3]:
df = pd.read_csv('../100Data/UserAccounts.csv')
print(df.columns)

Index(['id', 'firstName', 'lastName', 'username', 'password', 'fullName',
       'email', 'phoneNo', 'profileImage', 'profile', 'status'],
      dtype='object')

In [4]:
imagePaths = ["../100Data/profile1.jpg","../100Data/profile2.jpg","../100Data/profile3.jpg",
              "../100Data/profile4.jpg","../100Data/profile5.jpg","../100Data/profile6.jpg",
              "../100Data/profile7.jpg","../100Data/profile8.jpg","../100Data/profile9.jpg",
              "../100Data/profile10.jpg","../100Data/profile11.jpg","../100Data/profile12.jpg"]

In [5]:
df["profileImage"] = np.random.choice(imagePaths, size=len(df))

In [6]:
df['profileImage']

0      ../100Data/profile5.jpg
1      ../100Data/profile7.jpg
2      ../100Data/profile6.jpg
3      ../100Data/profile9.jpg
4      ../100Data/profile8.jpg
                ...
95    ../100Data/profile11.jpg
96     ../100Data/profile4.jpg
97     ../100Data/profile7.jpg
98     ../100Data/profile7.jpg
99    ../100Data/profile12.jpg
Name: profileImage, Length: 100, dtype: object

In [7]:
df['profileImage'] = df['profileImage'].apply(image_to_base64)

In [8]:
df['profileImage']

0     /9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgICAgMCAg...
1     /9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...
2     /9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...
3     /9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...
4     /9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...
                            ...
95    /9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...
96    /9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...
97    /9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...
98    /9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...
99    /9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAIBAQIBAQICAg...
Name: profileImage, Length: 100, dtype: object

In [9]:
df.drop(columns=['firstName', 'lastName'], inplace=True)

In [10]:
def add_11_to_id(input_id):
    return input_id + 11

df['id'] = df['id'].apply(add_11_to_id)

In [11]:
df

,id,username,password,fullName,email,phoneNo,profileImage,profile,status
0,12,dinnie_sillitoe,$2a$04$xNMQYmeAp02En2Ctnbblr.T50lR49yvUmSEmtwN...,Dinnie Sillitoe,dinniesillitoe@gmail.com,5764485868,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgICAgMCAg...,Buyer,active
1,13,corie_gilhooly,$2a$04$C1ZHIeznYTtblVqi9wKJP./TmMUy7JrCuAdndRF...,Corie Gilhooly,coriegilhooly@gmail.com,5159571562,/9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...,Real Estate Agent,active
2,14,eunice_coldbathe,$2a$04$gwkdVBhQaAhZTTySgjPkPO4VI8QGH7hWifq/Km3...,Eunice Coldbathe,eunicecoldbathe@gmail.com,8923953535,/9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...,System Admin,active
3,15,shoshanna_collabine,$2a$04$M8sS/KiEsne.OU0F1eq5UO6NK1Lfcvhq24z1N5U...,Shoshanna Collabine,shoshannacollabine@gmail.com,8412788641,/9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...,Buyer,active
4,16,seumas_draysey,$2a$04$fBSyrHlf4uqPIGtW1H0tROERG.BQYi7a95tlkDb...,Seumas Draysey,seumasdraysey@gmail.com,5783547756,/9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...,Seller,active
...,...,...,...,...,...,...,...,...,...
95,107,jaye_miskimmon,$2a$04$oHuQIRgL5FYsvp2d4vz46eBCMiz1I7eFp06QtEI...,Jaye Miskimmon,jayemiskimmon@gmail.com,2411732906,/9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...,Buyer,active
96,108,horton_newns,$2a$04$qwyNlrU6csEVskb2o1XbJeYxsEFkN1UJZl.9fES...,Horton Newns,hortonnewns@gmail.com,2625339490,/9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...,Seller,active
97,109,kelley_langabeer,$2a$04$bKjrDfg7i0dv6c9tse1JqOfZJYxney80wpxDvpL...,Kelley Langabeer,kelleylangabeer@gmail.com,7233697921,/9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...,Real Estate Agent,active
98,110,addie_weddell,$2a$04$/xxC9M7ipSfhcKKuC8QV9.EREQzBcknqiNRVDl7...,Addie Weddell,addieweddell@gmail.com,2251101538,/9j/4AAQSkZJRgABAQEASABIAAD/4gKgSUNDX1BST0ZJTE...,Real Estate Agent,suspended
99,111,culley_curnokk,$2a$04$.2r79PZnLIIZucHpnQ9l1.TNQtXLF32gnljaQjn...,Culley Curnokk,culleycurnokk@gmail.com,6683501230,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAIBAQIBAQICAg...,Real Estate Agent,active

In [12]:
# Specify the desired column order
reordered_columns = ['id', 'profileImage', 'profile', 'fullName', 'username', 'password', 'email', 'phoneNo', 'status'] 
# Create a new DataFrame with columns arranged in the desired order
df_reordered = df[reordered_columns]

In [13]:
# Specify the file path
csv_file = "UserAccounts.csv"

# Export DataFrame to CSV
df_reordered.to_csv(csv_file, index=False)

print(f"DataFrame exported to {csv_file}")

DataFrame exported to UserAccounts.csv